In [ ]:
import numpy as np
import pandas as pd

"""
3.1:            Assignment 1
Name:           Hashil Savaliya
Matrikulation:  57491622
Email:          harshil.savaliya@ue-germany.de

Note:
Comments will be added for each step for better readability and marking.
For any queries, feel free to reach out to the developer.
Using Google Colab, as it helps with the syntax autofill.

"""

# 1. Import the dataset into a pandas dataframe.
#    Make sure that the date column is in pandas date time format.

df = pd.read_csv('train.csv')
display(df.tail(10))

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
10876,2012-12-19 14:00:00,4,0,1,1,17.22,21.210,50,12.9980,33,185,218
10877,2012-12-19 15:00:00,4,0,1,1,17.22,21.210,50,19.0012,28,209,237
10878,2012-12-19 16:00:00,4,0,1,1,17.22,21.210,50,23.9994,37,297,334
10879,2012-12-19 17:00:00,4,0,1,1,16.40,20.455,50,26.0027,26,536,562
10880,2012-12-19 18:00:00,4,0,1,1,15.58,19.695,50,23.9994,23,546,569
10881,2012-12-19 19:00:00,4,0,1,1,15.58,19.695,50,26.0027,7,329,336
10882,2012-12-19 20:00:00,4,0,1,1,14.76,17.425,57,15.0013,10,231,241
10883,2012-12-19 21:00:00,4,0,1,1,13.94,15.910,61,15.0013,4,164,168
10884,2012-12-19 22:00:00,4,0,1,1,13.94,17.425,61,6.0032,12,117,129
10885,2012-12-19 23:00:00,4,0,1,1,13.12,16.665,66,8.9981,4,84,88

In [105]:
df['datetime'].dtype

dtype('O')

In [106]:
# It's stored as an object, not as the pandas datetime format 'datetime64'

df['datetime'] = pd.to_datetime(df['datetime'])

In [107]:
# Done

df['datetime'].dtype

dtype('<M8[ns]')

In [108]:
# 2. Check the data type of each column.

df.dtypes

datetime      datetime64[ns]
season                 int64
holiday                int64
workingday             int64
weather                int64
temp                 float64
atemp                float64
humidity               int64
windspeed            float64
casual                 int64
registered             int64
count                  int64
dtype: object

In [109]:
# How many rows are there in the dataset?
df.shape[0]

# df.shape returns (rows, columns)

10886

In [110]:
# Does the dataset contain any missing values?

df.isnull().sum()
# Output: No null/missing values found

datetime      0
season        0
holiday       0
workingday    0
weather       0
temp          0
atemp         0
humidity      0
windspeed     0
casual        0
registered    0
count         0
dtype: int64

In [111]:
# 3. Using the date column, create new columns for:
# year, month, day of the week and hour of the day.

# We can use 'dt' to parse the specific year, month, etc
# As the datetime column is already in the correct pandas format

df['year'] = df['datetime'].dt.year
df['month'] = df['datetime'].dt.month
df['day_of_week'] = df['datetime'].dt.day_name() # dt's builtin method, I use it for better readability
df['hour'] = df['datetime'].dt.hour

In [112]:
df.head(10)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,year,month,day_of_week,hour
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0000,3,13,16,2011,1,Saturday,0
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0000,8,32,40,2011,1,Saturday,1
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0000,5,27,32,2011,1,Saturday,2
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0000,3,10,13,2011,1,Saturday,3
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0000,0,1,1,2011,1,Saturday,4
5,2011-01-01 05:00:00,1,0,0,2,9.84,12.880,75,6.0032,0,1,1,2011,1,Saturday,5
6,2011-01-01 06:00:00,1,0,0,1,9.02,13.635,80,0.0000,2,0,2,2011,1,Saturday,6
7,2011-01-01 07:00:00,1,0,0,1,8.20,12.880,86,0.0000,1,2,3,2011,1,Saturday,7
8,2011-01-01 08:00:00,1,0,0,1,9.84,14.395,75,0.0000,1,7,8,2011,1,Saturday,8
9,2011-01-01 09:00:00,1,0,0,1,13.12,17.425,76,0.0000,8,6,14,2011,1,Saturday,9

In [113]:
# 4. Rename the values in the season column to spring, summer, fall and winter.

"""
KEY:
season - 1 = spring, 2 = summer, 3 = fall, 4 = winter

Approach:
Using 'map' top replace the integers to strings
"""

df['season'] = df['season'].map({1: 'spring', 2: 'summer', 3: 'fall', 4: 'winter'})
df['season'].tail(10)

10876    winter
10877    winter
10878    winter
10879    winter
10880    winter
10881    winter
10882    winter
10883    winter
10884    winter
10885    winter
Name: season, dtype: object

In [114]:
# 5. Calculate the total number of casual and registered bikes
# rented in the years 2011 and 2012.

# First we collect the bikes in 2011 - 2012
df_2011_2012 = df[df['year'].isin([2011, 2012])]

# Checking
df_2011_2012

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,year,month,day_of_week,hour
0,2011-01-01 00:00:00,spring,0,0,1,9.84,14.395,81,0.0000,3,13,16,2011,1,Saturday,0
1,2011-01-01 01:00:00,spring,0,0,1,9.02,13.635,80,0.0000,8,32,40,2011,1,Saturday,1
2,2011-01-01 02:00:00,spring,0,0,1,9.02,13.635,80,0.0000,5,27,32,2011,1,Saturday,2
3,2011-01-01 03:00:00,spring,0,0,1,9.84,14.395,75,0.0000,3,10,13,2011,1,Saturday,3
4,2011-01-01 04:00:00,spring,0,0,1,9.84,14.395,75,0.0000,0,1,1,2011,1,Saturday,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10881,2012-12-19 19:00:00,winter,0,1,1,15.58,19.695,50,26.0027,7,329,336,2012,12,Wednesday,19
10882,2012-12-19 20:00:00,winter,0,1,1,14.76,17.425,57,15.0013,10,231,241,2012,12,Wednesday,20
10883,2012-12-19 21:00:00,winter,0,1,1,13.94,15.910,61,15.0013,4,164,168,2012,12,Wednesday,21
10884,2012-12-19 22:00:00,winter,0,1,1,13.94,17.425,61,6.0032,12,117,129,2012,12,Wednesday,22
10885,2012-12-19 23:00:00,winter,0,1,1,13.12,16.665,66,8.9981,4,84,88,2012,12,Wednesday,23

In [115]:
total_casual = df_2011_2012['casual'].sum()
total_registered = df_2011_2012['registered'].sum()

print('total casual, total registered')
print(total_casual, ',', total_registered)

total casual, total registered
392135 , 1693341

In [116]:
# 6. Calculate the mean of the hourly total rentals count by season.
# Which season has the highest mean ?

# Using groupby method
mean_season = df.groupby('season')['count'].mean()

mean_season

season
fall      234.417124
spring    116.343261
summer    215.251372
winter    198.988296
Name: count, dtype: float64

In [117]:
## Splitting this question in parts

# 7.1: Are more bikes rented by registered users on working or non-working days?

# First we check the 'workingday' column
df['workingday'].head(5)

0    0
1    0
2    0
3    0
4    0
Name: workingday, dtype: int64

In [118]:
# We checked for working and non-working day registered rentals
df.groupby('workingday')['registered'].mean()

# Conclusion: Yes, registered users use rentals more on working days.

workingday
0    129.198330
1    167.904209
Name: registered, dtype: float64

In [119]:
# 7.2: Does the answer differ for non-registered users?

# There's a column 'casual' to which we could do the same, in order to check

df.groupby('workingday')['casual'].mean()

workingday
0    59.308290
1    25.107663
Name: casual, dtype: float64

In [120]:
df.groupby('workingday')[['registered','casual']].mean()

# Conclusion: Yes, there are less casual users and most of the users are registered.

            registered     casual
workingday
0           129.198330  59.308290
1           167.904209  25.107663

In [121]:
# 7.3: Is the answer the same for both years?

# We can simply add another filter in the previous command
df.groupby(['year', 'workingday'])[['registered','casual']].mean()

# Conclusion: Registered users rent more on working days. As compared to casual
#             users, there are more registered rentals overall.

                 registered     casual
year workingday
2011 0            97.153132  48.201276
     1           124.031909  19.664143
2012 0           160.767429  70.250286
     1           211.587507  30.527733

In [122]:
# 8. Which months in the year 2011 have the highest and the lowest
# total number of bikes rented ? Repeat for the year 2012.

# Making a new column for better accessibility
df['total'] = df['registered'] + df['casual']
df

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,year,month,day_of_week,hour,total
0,2011-01-01 00:00:00,spring,0,0,1,9.84,14.395,81,0.0000,3,13,16,2011,1,Saturday,0,16
1,2011-01-01 01:00:00,spring,0,0,1,9.02,13.635,80,0.0000,8,32,40,2011,1,Saturday,1,40
2,2011-01-01 02:00:00,spring,0,0,1,9.02,13.635,80,0.0000,5,27,32,2011,1,Saturday,2,32
3,2011-01-01 03:00:00,spring,0,0,1,9.84,14.395,75,0.0000,3,10,13,2011,1,Saturday,3,13
4,2011-01-01 04:00:00,spring,0,0,1,9.84,14.395,75,0.0000,0,1,1,2011,1,Saturday,4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10881,2012-12-19 19:00:00,winter,0,1,1,15.58,19.695,50,26.0027,7,329,336,2012,12,Wednesday,19,336
10882,2012-12-19 20:00:00,winter,0,1,1,14.76,17.425,57,15.0013,10,231,241,2012,12,Wednesday,20,241
10883,2012-12-19 21:00:00,winter,0,1,1,13.94,15.910,61,15.0013,4,164,168,2012,12,Wednesday,21,168
10884,2012-12-19 22:00:00,winter,0,1,1,13.94,17.425,61,6.0032,12,117,129,2012,12,Wednesday,22,129
10885,2012-12-19 23:00:00,winter,0,1,1,13.12,16.665,66,8.9981,4,84,88,2012,12,Wednesday,23,88

In [123]:
# Now, we're going to get the monthly-wise sum of rentals
monthly_sum = df.groupby(['year', 'month'])['total'].sum()
monthly_sum

year  month
2011  1         23552
      2         32844
      3         38735
      4         50517
      5         79713
      6         89776
      7         92848
      8         83296
      9         79104
      10        79522
      11        70889
      12        61183
2012  1         56332
      2         66269
      3         94766
      4        116885
      5        120434
      6        130957
      7        121769
      8        130220
      9        133425
      10       127912
      11       105551
      12        98977
Name: total, dtype: int64

In [124]:
monthly_sum.loc[2011].idxmax()

np.int32(7)

In [125]:
# Now, preparing the final result

print("2011 - Rentals")
print("2011 min", monthly_sum.loc[2011].idxmin())
print("2011 max", monthly_sum.loc[2011].idxmax())
print(" ")
print("2012 - Rentals")
print("2012 min", monthly_sum.loc[2012].idxmin())
print("2012 max", monthly_sum.loc[2012].idxmax())

2011 - Rentals
2011 min 1
2011 max 7

2012 - Rentals
2012 min 1
2012 max 9

In [126]:
# 9. Which type of weather have the highest and lowest mean of the hourly total
#    rentals count ?

mean_weather = df.groupby('weather')['total'].mean()
mean_weather

weather
1    205.236791
2    178.955540
3    118.846333
4    164.000000
Name: total, dtype: float64

In [127]:
highest_weather = mean_weather.idxmax()
lowest_weather = mean_weather.idxmin()

print("Highest mean: ", highest_weather)
print("Lowest mean:  ", lowest_weather)

Highest mean:  1
Lowest mean:   3

In [128]:
# 10. Calculate the correlation between the hourly total rentals count
# and all the numerical columns in the dataset.
# Which column has the highest correlation with the total rentals count?

# We're targetting the numerical cols
numeric_cols = df.select_dtypes(include='number')

# We're using the df['total'] column that we made earlier
correlations = numeric_cols.corr()['total'].sort_values(ascending=False)
correlations

total         1.000000
count         1.000000
registered    0.970948
casual        0.690414
hour          0.400601
temp          0.394454
atemp         0.389784
year          0.260403
month         0.166862
windspeed     0.101369
workingday    0.011594
holiday      -0.005393
weather      -0.128655
humidity     -0.317371
Name: total, dtype: float64

In [129]:
# We can see that index 0 is 'total' itself
highestcorr_column = correlations.index[1]
highestcorr_value = correlations.iloc[1]

print("Column with the highest correlation: ", highestcorr_column)
print("Value of the highest correlation: ", highestcorr_value)

Column with the highest correlation:  count
Value of the highest correlation:  1.0

In [130]:
# 11. Create a new categorical column called day_period, which can take four
# possible values: night, morning, afternoon and evening. These values
# correspond to the following binning of the hour column: 0-6: night, 6-12:
# morning, 12-6: afternoon, 6-24:evening.

# Wanted to use a dictionary here and use map method to complete the task
dict_dayperiod = {
    0: 'night', 1: 'night', 2: 'night', 3: 'night', 4: 'night', 5: 'night',
    6: 'morning', 7: 'morning', 8: 'morning', 9: 'morning', 10: 'morning', 11: 'morning',
    12: 'afternoon', 13: 'afternoon', 14: 'afternoon', 15: 'afternoon', 16: 'afternoon', 17: 'afternoon',
    18: 'evening', 19: 'evening', 20: 'evening', 21: 'evening', 22: 'evening', 23: 'evening'
}

df['day_period'] = df['hour'].map(dict_dayperiod)
df[['hour', 'day_period']].head(10)

   hour day_period
0     0      night
1     1      night
2     2      night
3     3      night
4     4      night
5     5      night
6     6    morning
7     7    morning
8     8    morning
9     9    morning

In [131]:
# Or we can use the labels, bins method
labels = ['night', 'morning', 'afternoon', 'evening']
bins = [0,6,12,18,24]

df['day_period'] = pd.cut(df['hour'], bins=bins, labels=labels, right=False)

In [132]:
df[['hour', 'day_period']].head(10)

   hour day_period
0     0      night
1     1      night
2     2      night
3     3      night
4     4      night
5     5      night
6     6    morning
7     7    morning
8     8    morning
9     9    morning

In [134]:
df.columns

Index(['datetime', 'season', 'holiday', 'workingday', 'weather', 'temp',
       'atemp', 'humidity', 'windspeed', 'casual', 'registered', 'count',
       'year', 'month', 'day_of_week', 'hour', 'total', 'day_period'],
      dtype='object')

In [135]:
# 12. Generate a pivot table for the mean of the hourly total rentals count,
# with the index set to the day period and the column set to the working day column.
# What can you observe from the table ?

pivot_table = df.pivot_table(
    values = 'total',
    index='day_period',
    columns='workingday',
    aggfunc='mean'
)

print(pivot_table)

workingday           0           1
day_period
night        44.052083   16.217582
morning     157.772414  234.353763
afternoon   371.022989  266.196141
evening     180.182759  251.054662

/tmp/ipython-input-613334738.py:5: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  pivot_table = df.pivot_table(

In [136]:
"""
CONCLUSION:

1. We can see that there are more morning rentals in working days, but more
   afternoon rentals in non-working days.
2. Rentals every night are low.
3. Daytime rentals are higher on working days, as the working class
   (registered users especially) use them for daily commute to work.
"""

'\nCONCLUSION:\n\n1. We can see that there are more morning rentals in working days, but more\n   afternoon rentals in non-working days.\n2. Rentals every night are low.\n3. Daytime rentals are higher on working days, as the working class\n   (registered users especially) use them for daily commute to work.\n'